
.day-panel{
  margin-top: 5px;
  margin-bottom: 7px;
}
.class-card{
  margin-top: 5px;
  margin-bottom: 7px;
}
.day-class-slot{
  background-color: antiquewhite;
}
.day-slot{
  text-align: center;
  text-transform: uppercase;
}
.class{
  display: grid;
  grid-template-columns: 50px 1fr 50px 70px;
  grid-template-rows: auto;
  grid-template-areas:
    "time profesor-class . delete"
    "to group room . "
    "end profesor . edit";
}

.class-time{
  grid-area: time;
  justify-self: center;
  place-self: center;
}

.class-end-time{
  grid-area: end;
  justify-self: end;
  place-self: center;
}

.class-to{
  grid-area: to;
  justify-self: center;
  place-self: center;
}

.class-group{
  grid-area: group;
  justify-self: center;
  place-self: center;
}

.class-professor{
  grid-area: profesor;
  place-self: center;
  align-self: center;
}

.subject-title{
  grid-area: profesor-class;
  place-self: start;
  justify-self: center;
  margin: 0;
}
.class-room{
  grid-area: room;
  justify-self: center;
  place-self: center;
}
.delete-button{
  grid-area: delete;
  place-self: center;
  justify-self: center;
}
.edit-button{
  grid-area: edit;
  place-self: center;
  justify-self: center;
}
.example-header-image {
  background-size: cover;
  float: left;
}
.mat-button-wrapper{
  color: white!important;
}

@media only screen and (min-width: 820px) {
  .schedule {
    width: 100%;
  }
}
