<div class="schedule">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{schedule.name}}</mat-card-title>
      <mat-card-subtitle>{{schedule.isActive? "Active" : "Inactive"}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-expansion-panel class="day-panel" [expanded]="true" *ngFor="let term of terms | groupBy: 'weekday' | pairs| orderBy: 'weekdayId'">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3 class="day-slot"> {{(term[0])}} </h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card  class="class-card" [class]="getTermClassName(val)" *ngFor="let val of term[1] | orderBy: 'startTime'">
          <div class="class class-1 ">
            <h4 class="subject-title"> {{val.subject}} ({{val.numberOfLectures}}+{{val.numberOfExercises}}+{{val.numberOfLabExercises}})</h4>
            <span class="class-time">{{val.startTime}}</span>
            <span class="class-to">-</span>
            <span class="class-end-time">{{val.endTime}}</span>
            <span class="class-room"> {{val.classroom}} </span>
            <span class="class-professor">{{val.lecturerFullName}}</span>
            <button mat-icon-button [matTooltip]="'Delete term with id ' + val.id" color="black" class="delete-button" (click)="openDeleteDialog(val.id)">
              <mat-icon >delete</mat-icon>
            </button>
            <button mat-icon-button color="black" [matTooltip]="'Edit term with id ' + val.id" class="edit-button" (click)="openUpdateDialog(val.id, val.subjectId, val.semesterId, val.moduleId, val.scheduleId)">
              <mat-icon >edit</mat-icon>
            </button>
          </div>
        </mat-card>
      </mat-expansion-panel>
    </mat-card-content>
  </mat-card>
</div>
<mat-card *ngIf="isLoading"
          style="display: flex; justify-content: center; align-items: center">
  <mat-progress-spinner
    color="primary"
    mode="indeterminate">
  </mat-progress-spinner>
</mat-card>
