
<div class="schedule">

  <mat-expansion-panel class="day-panel" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3 class="day-slot"> Monday </h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card class="class-card">
      <div class="class class-1 ">
        <h4 class="subject-title"> Class Title (2+0)</h4>
        <span class="class-time"> 9:00am </span>
        <span class="class-room"> 17 </span>
        <span class="class-professor"> Professor Name </span>
        <button mat-icon-button color="black" class="delete-button">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button color="black" class="edit-button">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </mat-card>

    <mat-card class="class-card">
      <div class="class class-1 ">
        <h4 class="subject-title"> Class Title (2+0)</h4>
        <span class="class-time"> 9:00am </span>
        <span class="class-room"> 17 </span>
        <span class="class-professor"> Professor Name </span>
        <button mat-icon-button color="black" class="delete-button">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button color="black" class="edit-button">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </mat-card>
  </mat-expansion-panel>

  <mat-expansion-panel class="day-panel" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3 class="day-slot"> Tuesday </h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card class="class-card">
      <div class="class class-1 ">
        <h4 class="subject-title"> Class Title (2+0)</h4>
        <span class="class-time"> 9:00am </span>
        <span class="class-room"> 17 </span>
        <span class="class-professor"> Professor Name </span>
        <button mat-icon-button color="black" class="delete-button">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button color="black" class="edit-button">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </mat-card>

    <mat-card class="class-card">
      <div class="class class-1 ">
        <h4 class="subject-title"> Class Title (2+0)</h4>
        <span class="class-time"> 9:00am </span>
        <span class="class-room"> 17 </span>
        <span class="class-professor"> Professor Name </span>
        <button mat-icon-button color="black" class="delete-button">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button color="black" class="edit-button">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </mat-card>
  </mat-expansion-panel>

    <mat-expansion-panel class="day-panel"[expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3 class="day-slot"> Wednesday </h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card class="class-card">
        <div class="class class-1 ">
          <h4 class="subject-title"> Class Title (2+0)</h4>
          <span class="class-time"> 9:00am </span>
          <span class="class-room"> 17 </span>
          <span class="class-professor"> Professor Name </span>
        </div>
      </mat-card>

      <mat-card class="class-card">
        <div class="class class-1 ">
          <h4 class="subject-title"> Savremene softerske arhitekture (2+0)</h4>
          <span class="class-time"> 9:00am  </span>
          <span class="class-room"> 213 </span>
          <span class="class-professor"> Vladimir Mladenovic </span>
        </div>
      </mat-card>
    </mat-expansion-panel>

    <mat-expansion-panel class="day-panel" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3 class="day-slot"> Thursday </h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
         <mat-card class="class-card">
          <div class="class class-1 ">
            <h4 class="subject-title"> Class Title (2+0)</h4>
            <span class="class-time"> 9:00am </span>
            <span class="class-room"> 17 </span>
            <span class="class-professor"> Professor Name </span>
          </div>
      </mat-card>

  <mat-card class="class-card">
    <div class="class class-1 ">
      <h4 class="subject-title"> Savremene softerske arhitekture (2+0)</h4>
      <span class="class-time"> 9:00am  </span>
      <span class="class-room"> 213 </span>
      <span class="class-professor"> Vladimir Mladenovic </span>
    </div>
  </mat-card>
</mat-expansion-panel>

  <mat-expansion-panel class="day-panel"[expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3 class="day-slot"> Friday </h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card class="class-card">
      <div class="class class-1 ">
        <h4 class="subject-title"> Class Title (2+0)</h4>
        <span class="class-time"> 9:00am </span>
        <span class="class-room"> 17 </span>
        <span class="class-professor"> Professor Name </span>
      </div>
    </mat-card>

    <mat-card class="class-card">
      <div class="class class-1 ">
        <h4 class="subject-title"> Savremene softerske arhitekture (2+0)</h4>
        <span class="class-time"> 9:00am  </span>
        <span class="class-room"> 213 </span>
        <span class="class-professor"> Vladimir Mladenovic </span>
      </div>
    </mat-card>
  </mat-expansion-panel>
</div>
