<div class="schedule">
  <div style="text-align: right">
    <button mat-raised-button  class="create-button" style="margin-bottom: 30px" (click)="openCreateDialog()">
      Create new
    </button>
  </div>
<mat-card>
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Search">
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> NAME </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="departmentId" >
    <th mat-header-cell *matHeaderCellDef mat-sort-header> DEPARTMENT ID </th>
    <td mat-cell *matCellDef="let element"> {{element.departmentId}} </td>
  </ng-container>

  <ng-container matColumnDef="semesterId" >
    <th mat-header-cell *matHeaderCellDef mat-sort-header> SEMESTER ID </th>
    <td mat-cell *matCellDef="let element"> {{element.semesterId}} </td>
  </ng-container>

  <ng-container matColumnDef="isActive">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> STATUS ID </th>
    <td mat-cell *matCellDef="let element"> {{element.isActive? "Active" : "Inactive"}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="primary" (click)="changeScheduleStatus(element)">
        <mat-icon>cached</mat-icon>
      </button>
      <button mat-raised-button color="primary" class="rightbutton" (click)="viewTimetableEdit(element)">
        <mat-icon>pageview</mat-icon>
      </button>
      <button mat-raised-button color="primary" class="rightbutton" (click)="openEditScheduleDialog(element)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-raised-button color="primary" class="rightbutton" (click)="openDeleteScheduleDialog(element)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20, 30, 50, 100]" showFirstLastButtons></mat-paginator>
</mat-card>
</div>
<!--<p class="test" ><mat-checkbox [(opened)]="opened">sidenav.opened</mat-checkbox></p>-->
