table {
  width: 100%;
}
table th,td{

}
.rightbutton {
  margin-left: 10px;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
th.mat-sort-header-sorted {
  color: black;
}
mat-icon{
  color: white;
}

