<mat-accordion>
  <mat-expansion-panel *ngFor="let module of modules">
    <mat-expansion-panel-header (click)="getSubjects(module.id)">
      <span hidden>{{module.id}}</span>
      <mat-panel-title>
        {{module.name}}
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list>
      <div *ngFor="let subject of subjects">
        <mat-list-item (click)="openDialog(subject.id)">{{subject.name}}</mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
