<mat-accordion>
  <mat-expansion-panel *ngFor="let module of modules">
    <mat-expansion-panel-header (click)="getSubjects(schedule.semesterId, module.id)">
      <span hidden>{{module.id}}</span>
      <mat-panel-title>
        {{module.name}}
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list>
      <div *ngFor="let subject of subjects">
        <mat-list-item><button [matTooltip]="subject.name" mat-flat-button class="subject-button" (click)="openDialog(subject.id, module.id, schedule.semesterId, schedule.id)">{{subject.name}}</button></mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
