<mat-card>
  <mat-card-title class="title"> <h1>Raspored časova</h1> </mat-card-title>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Informacion tehnologije">
        <app-semester-table></app-semester-table>
      </mat-tab>
      <mat-tab label="Tehnika i informatika">
        <app-semester-table></app-semester-table>
      </mat-tab>
      <mat-tab label="Inzenjerski menadzment">
        <app-semester-table></app-semester-table>
      </mat-tab>
      <mat-tab label="Preduzetnicki menadzment">
        <app-semester-table></app-semester-table>
      </mat-tab>
      <mat-tab label="Mehatronika">
        <app-semester-table></app-semester-table>
      </mat-tab>
      <mat-tab label="Elektrotehnicko i racunarsko inzenjerstvo">
        <app-semester-table></app-semester-table>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
