<mat-toolbar color="primary">
  <button
    *ngIf="router.url.includes('admin')"
    mat-button  class="sidenav-toggle" (click)="toggleSidenav.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <a [routerLink]="[' ']"> Timetable </a>
  <a [routerLink]="['/admin/']"> Admin </a>
  <app-theme-palette style="margin-left: auto; cursor: pointer;"  [options]="options$ | async"
                      (themeChange)="themeChangeHandler($event)">></app-theme-palette>
</mat-toolbar>
<mat-progress-bar
  *ngIf="loading" color="accent" mode="indeterminate">
</mat-progress-bar>
