<mat-toolbar color="primary" class="toolbar">
  <button
    *ngIf="router.url.includes('admin')"
    mat-button  class="sidenav-toggle" (click)="toggleSidenav.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="toolbar-left">
    <a [routerLink]="[' ']" > Timetable </a>
    <a [routerLink]="['/admin/']" *ngIf="isAdmin"> Admin </a>
  </div>
  <div class="toolbar-right">
    <app-theme-palette matTooltip="Choose theme!" class="toolbar-pallet" style="margin-left: auto; cursor: pointer;"  [options]="options$ | async"
                       (themeChange)="themeChangeHandler($event)">></app-theme-palette>
    <mat-icon matTooltip="Register new admin!" [routerLink]="['/register']" *ngIf="isAdmin" style="margin-left: auto; cursor: pointer;" class="toolbar-logout">person_add</mat-icon>
    <mat-icon matTooltip="Logout!" (click)="logout()" *ngIf="isAdmin" style="margin-left: auto; cursor: pointer;" class="toolbar-logout">exit_to_app</mat-icon>
    <mat-icon matTooltip="Login!" [routerLink]="['/login']" *ngIf="!isLoggedIn" style="margin-left: auto; cursor: pointer;" class="toolbar-logout">person</mat-icon>
  </div>
</mat-toolbar>
<mat-progress-bar
  *ngIf="loading" color="accent" mode="indeterminate">
</mat-progress-bar>
